<template name='panelDespacho'>

	<article class="social-box">
		<header>
			<h4><i class="icon-desktop"></i>Panel Servicios</h4>
		</header>
		<div class="body ">
			<div class="panel-despacho">


<table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-condensed">
<thead>
<th></th>
<th>Fecha Ultimo</th>
<th>Fecha Penultimo</th>
</thead>
<tbody>
<tr class ='error'>
<td>Movil</td>
<td>123</td>
<td>456</td>
</tr>
<tr class ='error'>
<td>Placa</td>
<td>TPT123</td>
<td>HOI456</td>
</tr>
<tr class ='error'>
<td>STATUS</td>
<td>CANCELADO</td>
<td>REALIZADO</td>
</tr>

<tr class ='error'>
<td>AGENTE</td>
<td>JOHAN</td>
<td>NICOLAS</td>
</tr>
</tbody>
</table>




			</div>
		</div>
	</article>

</template>