
<!-- *************************  TEMPLATE FILA ************************* -->
<template name = "rowDataCall">
	{{#if isNewCustomer}}
		{{> templateNewCustomer stateCalls}}
	{{else}}
		{{> templateCustomer stateCalls}}
	{{/if}}
</template>
<!-- ##################################################################################### -->



<!-- *************************  TEMPLATE PARA CLIENTES NUEVOS ************************* -->
<template name = 'templateNewCustomer'>
	<tr class ='error'>

		<!-- info CALL STATES -->
		<td class = "state"><span class = {{stateCall.state}}><i class={{stateCall.icon}}></i>{{stateCall.desc}}</span></td>

		<!-- Info Last Call -->
		<td class="state"> <a href="#" id="lastCall-{{siptaxiCallId}}" class ="lastCall"><span class ="badge badge-important"> {{siptaxiCallCount}}</span></a></td>

		<!-- Info Last Services -->
		<td><span class ="badge badge-important">0</span></td>

		<!-- Info Telefono  -->
		<td><span class ="phone label label-important">{{siptaxiCallPhone}}</span></td>

		<!-- Info Name Customer y Busqueda-->
		<td><input type="text" class="inputCustomersNames typeaheadCustomerName" value="" placeholder ="Nombre del Usuario" id="customerName-{{_id}}"/></td>

		<!-- Info de la Direccion -->
		<td><input type="text" class="inputCustomersAddress" value="" placeholder = "CRA 00 # 00-00" id="customerAddress-{{_id}}" autofocus="autofocus"/></td>

		<!-- Campo de Referencia y Busqueda-->
		<td><input type="text" class="inputCustomersAddressReferences typeaheadCustomerAddressReference" value="" placeholder="Barrio-Sector-Referencia" id="customerAddressReference-{{_id}}"/></td>

		<!-- Field Comentarios del Cliente -->
		<td><input type="text" class="inputCustomersComments" value="" placeholder="Notas del Usuario" id="customerComments-{{_id}}"/></td>

		<!-- Field Codigo Telefonico -->
		<td><span class ="badge badge-default">{{siptaxiCallCod}}</span></td>

		<!-- Boton LANZAR -->
		<td><button class="btn btn-mini btn-inverse" id="btnLanzar">LANZAR</button></td>

	</tr>
</template>
<!-- ##################################################################################### -->



<!-- *************************  TEMPlATE CLIENTES VIEJOS ************************* -->
<template name = 'templateCustomer'>

	<tr class ={{rowColor}}>

			<!-- info CALL STATES -->
			<td class="state"><span class={{stateCall.state}}><i class={{stateCall.icon}}></i>{{stateCall.desc}}</span></td>

			<!-- Info Last Call -->
			<td class="state"> <a href="#" id="lastCall-{{siptaxiCallId}}" class ="lastCall"><span class ="badge badge-{{rowColor}}"> {{siptaxiCallCount}}</span></a></td>

			<!-- Info Last Services -->
			<td class = "state"> <a href="#" id="lastServices-{{siptaxiCallId}}" class="lastServices"><span class ="badge badge-{{rowColor}}">{{serviceCount}}</span></a></td>
			
			<!-- Info Telefono  -->
			<td class = "td-phone"><span class ="phone label label-{{rowColor}}">{{siptaxiCallPhone}}</span></td>

			<!-- Info Name Customer-->
			<td><input type="text" class="inputCustomersNames typeaheadCustomerName" value="{{customerName}}" id="customerName-{{_id}}"/></td>
			
			<!-- Info de la Direccion -->
			<td><input type="text" class="inputCustomersAddress" value="{{customerAddress}}" id="customerAddress-{{_id}}"/></td>

			<!-- Campo de Referencia y Busqueda-->
			<td><input type="text" class="inputCustomersAddressReferences typeaheadCustomerAddressReference" value="{{customerAddressReference}}" id="customerAddressReference-{{_id}}"/></td>
			
			<!-- Field Comentarios del Cliente -->
			<td> <input type="text" class="inputCustomersComments" value="{{customerComments}}" id="customerComments-{{_id}}"/> </td>

			<!-- Field Codigo Telefonico -->
			<td class = "state"><span class ="badge badge-default">{{siptaxiCallCod}}</span></td>
			
			<td><button class="btn btn-mini btn-inverse" id="btnLanzar">LANZAR</button></td>
		

	</tr>

</template>
<!-- ##################################################################################### -->